@font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/static/RobotoCondensed-Bold.ttf");
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("../fonts/static/Roboto-Bold.ttf"), url("../fonts/static/Roboto-Regular.ttf"), url("../fonts/static/Roboto-Medium.ttf");
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', 'Arial';
    letter-spacing: 0.5px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: 2px dotted #ff7500;
    outline-offset: 3px;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
    padding: 0;
    margin: 0;
}

.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.site-header {
    background-color: #fff;
}
.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-link {
    transition: opacity 0.4s ease;
}
.logo-link:hover {
    opacity: 0.8;
}
.logo-link:active {
    opacity: 0.6;
}
.site-header__action {
    display: flex;
    align-items: center;
}
.sitenav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 32px;
}
.sitenav-list__item {
    margin-right: 32px;
}
.sitenav-list__item:last-child {
    margin-right: 0;
}
.sitenav-link {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: all 0.4s ease;
}
.sitenav-link:hover {
    color: #ff7500;
}
.sitenav-link:active {
    opacity: 0.6;
}
.main-link {
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
    background-color: #ff7500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
}
.main-link:hover {
    opacity: 0.8;
}
.main-link:active {
    opacity: 0.6;
}
.hero {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #fff;
    background-color: #252420;
    position: relative;
}
.hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-content {
    width: 390px;
}
.orange-line {
    width: 80px;
    height: 3px;
    border: 0;
    margin: 0 0 40px;
    background-color: #ff7500;
}
.hero-heading {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 24px;
}
.hero-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
}
.hero-img {
    position: absolute;
    top: -40px;
    right: 20px;
    width: 510px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 24px 24px 0 0 rgba(225, 117, 0, 0.6);
}
/* //////////////////////////////////// */
.feature {
    padding: 210px 0;
}
.feature-heading {
    width: 435px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 72px;
    line-height: 1.2;
}
.feature-list {
    display: flex;
    align-items: center;
    list-style: none;
}
.feature-list__item {
    width: 340px;
}
.feature-list__item:nth-child(2) {
    margin: 0 40px;
}
.feature-icon__wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(225, 117, 0, 0.2);
}
.featire-image {
    width: 56px;
    height: 56px;
    padding: 23px 22px;
    background-color: #FF7500;
}
.feature-list__heading {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

/* ////////////////////////////// */
.promo {
    padding: 120px 0 160px;
}
.promo-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px;
    color: #fff;
    background-color: #252420;
    border-radius: 12px;

}
.promo-content {
    width: 440px;
}
.promo-heading {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 24px;
}
.promo-dec__wrapper {
    margin-bottom: 24px;
}
.promo-dec:first-child {
    margin-bottom: 12px;
}

.promo-light__word {
    color: #ff7500;
}
.promo-img {
    position: absolute;
    right: 64px;
    bottom: 64px;
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
}
.site-footer {
    padding: 56px 0;
    background-color: #f8f8f8;
}
.site-footer__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-links {
    display: flex;
    align-items: center;
}
.social-links li:nth-child(2) {
    margin: 0 24px;
}
.social-links a {
    display: block;
    color: #252420;
    transition: all 0.4 ease;
    transition: all 5 ease;
}
.social-links a:hover {
    color: #ff7500;
}
.social-links a:active {
    opacity: 0.6;
}
.social-links svg {
    display: block;
}
.site-footer ul {
    list-style: none;
}

.footer-lightline {
    height: 2px;
    border: 0;
    margin-top: 40px;
    margin-bottom: 64px;
    background-color: rgba(37, 36, 32, 0.5);
}
.footer-links {
    display: flex;
}
.site-footer__link-list {
    width: 224px;
    line-height: 19px;
}
.site-footer__link-list {
    margin-right: 68px;
}
.site-footer__link-list:last-child {
    margin-right: 0;
}

.site-footer__link-list a {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #252420;
    transition: all 0.4s ease;
}
.site-footer__link-list a:hover {
    color: #ff7500;
}

.site-footer__link-list a:active {
    opacity: 0.6;
}
