@font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/static/RobotoCondensed-Bold.ttf");
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("../fonts/static/Roboto-Bold.ttf"), url("../fonts/static/Roboto-Regular.ttf"), url("../fonts/static/Roboto-Medium.ttf");
}
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', 'Arial';
    letter-spacing: 0.5px;

    margin: 0;
    padding: 0;
}
*:focus{
    outline: 2px dotted #ff7500;
    outline-offset: 3px;
}
.container {
    width: 1240px;
    height: 100%;
    margin: 0;
    padding: 0 20px;
}
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.logo-link {
    transition: opacity 0.4s ease;
}
.logo-link:hover {
    opacity: 0.8;
}
.logo-link:active {
    opacity: 0.6;
}
.site-header__action {
    display: flex;
    align-items: center;
}
.sitenav-list {
    display: flex;
    align-items: center;
    list-style: none;
}
.sitenav-link {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: all 0.4s ease;
}
.sitenav-link:hover {
    color: #ff7500;
}
.sitenav-link:active {
    opacity: 0.6;
}
.main-link {
    font-size: 13px;
    line-height: 15px;
    background-color: #ff7500;
    color: #fff;
    text-decoration: none;
}
.main-link:hover {
    opacity: 0.8;
}
.main-link:active {
    opacity: 0.6;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #252420;
}
.hero-content {
    width: 390px;
}
.orange-line {
    width: 80px;
    height: 3px;
    background-color: #ff7500;
}
.hero-heading {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    line-height: 1.2;
}
.hero-text {
    font-size: 16px;
    line-height: 1.5;
}
.hero-img {
    width: 510px;
    height: 510px;
}
/* //////////////////////////////////// */
.feature-heading {
    width: 435px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 72px;
    font-weight: bold;
    line-height: 1.2;
}
.feature-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.feature-list__item {
    width: 340px;
}
.feature-icon__wrapper {
    width: 100px;
    height: 100px;
    background-color: rgba(225, 117, 0, 0.2);
}
.featire-image {
    width: 56px;
    height: 56px;
    padding: 23px 22px;
    background-color: #FF7500;
}
.feature-list__heading {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

/* ////////////////////////////// */
.promo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252420;
    color: #fff;
}
.promo-content {
    width: 440px;
}
.promo-heading {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
}
.promo-light__word {
    color: #ff7500;
}
.promo-img {
    height: 440px;
    height: 440px;
    object-fit: cover;
}
.site-footer {
    background-color: #f8f8f8;
}
.site-footer__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-lightline {
    background-color: rgba(37, 36, 32, 0.5);
}
.footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-links a {
    color: #252420;
    transition: all 0.4 ease;
    transition: all 5 ease;
}
.social-links a:hover {
    color: #ff7500;
}
.social-links a:active {
    opacity: 0.6;
}
.site-footer ul {
    list-style: none;
}
.site-footer__link-list {
    width: 224px;
    line-height: 19px;
}
.site-footer__link-list a {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #252420;
    transition: all 0.4s ease;
}
.site-footer__link-list a:hover {
    color: #ff7500;
}

.site-footer__link-list a:active {
    opacity: 0.6;
}
